[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/witnet-solidity-bridge"]
	path = lib/witnet-solidity-bridge
	url = https://github.com/witnet/witnet-solidity-bridge
	branch = 2.0.x
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/pt-v5-draw-manager"]
	path = lib/pt-v5-draw-manager
	url = https://github.com/GenerationSoftware/pt-v5-draw-manager
